scapy==2.4.3
urllib3==1.26.5
NetfilterQueue==0.8.1
netaddr==0.7.19
netifaces==0.10.9
miniupnpc==2.0.2
dnspython==1.16.0
requests==2.22.0
xeger==0.3.5
waitress==1.4.3
Flask==1.1.1
twisted==19.10.0
asyncssh==2.1.0
